@model UpdateCategoryDto
@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Kategori</h6>
        <form method="post">
            <input type="hidden" asp-for="CategoryId" />
            <label>Kategori Adı</label>
            <input type="text" asp-for="CategoryName" class="form-control" />
            <br />
            <label>Kategori Durumu</label>
            <input type="text" asp-for="Status" class="form-control" />
            <br />
            <button class="btn btn-outline-success">Kaydet</button>
        </form>
    </div>
</div>