@model UpdateWhoWeAreDetailDto

@{
    ViewData["Title"] = "Biz Kimiz? Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Yeni Biz Kimiz Kaydı</h6>
        <form method="post">
            <input type="hidden" asp-for="WhoWeAreDetailId" />
            <label asp-for="Title">Başlık</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />
            <label asp-for="Subtitle">Alt Başlık</label>
            <input type="text" asp-for="Subtitle" class="form-control" />
            <br />
            <label asp-for="Description1">Açıklamalar</label>
            <textarea style="height: 150px;" asp-for="Description1" class="form-control" id="floatingTextarea"></textarea>
            <br />
            <label asp-for="Description2">Diğer Bilgiler</label>
            <textarea style="height: 150px;" asp-for="Description2" class="form-control" id="floatingTextarea"></textarea>
            <br />
            <button class="btn btn-outline-success">Kaydet</button>
        </form>
    </div>
</div>