
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_AdminHeaderViewComponentPartial")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        @await Component.InvokeAsync("_AdminSpinnerViewComponentPartial")
        @await Component.InvokeAsync("_AdminSidebarViewComponentPartial")
        
        <!-- Content Start -->
        <div class="content">
            @await Component.InvokeAsync("_AdminNavbarViewComponentPartial")
            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-light rounded align-items-left justify-content-center mx-0">
                    @RenderBody()
                </div>
            </div>
            <!-- Blank End -->
            @await Component.InvokeAsync("_AdminFooterViewComponentPartial")
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    @await Component.InvokeAsync("_AdminScriptsViewComponentPartial")
</body>
</html>
