<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-tags fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplam İlan</p>
                    <h6 class="mb-0">@ViewBag.ProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-map fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Çok İlanlı Şehir</p>
                    <h6 class="mb-0">@ViewBag.CityNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bars fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Kira Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.AvgProductPriceByRent</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bars fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Satış Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.AvgProductPriceBySale</h6>
                </div>
            </div>
        </div>
    </div>
</div>