<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="~/adminUI/index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>RealEstate</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/adminUI/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Admin</h6>
                <span>Kişisi</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a asp-area="Admin" asp-controller="Statistics" asp-action="Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

            <a asp-area="" asp-controller="Default" asp-action="Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Siteye Git</a>
            <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Kategoriler</a>
            <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>İlanlar</a>
            <a asp-area="Admin" asp-controller="Employees" asp-action="Index" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Personeller</a>
            <a href="~/adminUI/chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Grafikler</a>
            <a asp-area="Admin" asp-controller="Statistics" asp-action="Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>İstatiskler</a>
            <a href="~/adminUI/chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Apiler</a>
            <a asp-area="Admin" asp-controller="WhoWeAre" asp-action="Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Biz Kimiz</a>
            <a asp-area="Admin" asp-controller="Service" asp-action="Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Hizmetler</a>
            <a asp-area="Admin" asp-controller="PopularLocations" asp-action="Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Lokasyonlar</a>
            <a asp-area="Admin" asp-controller="Testimonials" asp-action="Index" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Referanslar</a>
            <a href="~/adminUI/chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Günün Fırsatları</a>
            <a href="~/adminUI/chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Mail İşlemleri</a>
            <a href="~/adminUI/chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>İletişim Bilgileri</a>
            <a href="~/adminUI/chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Gelen Mesajlar</a>
            <a href="~/adminUI/chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Ayarlar</a>
            <a href="~/adminUI/chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Çıkış Yap</a>

        </div>
    </nav>
</div>
<!-- Sidebar End -->